@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Circular";
    src: url("../assets/font/CircularMedium.otf"),
}
/* 
@font-face {
    font-family: "Circular";
    src: url("../assets/font/CircularBold.otf"), font-weight-bold;
}

@font-face {
    font-family: "Circular";
    src: url("../assets/font/CircularLight.otf"), font-weight-light;
} */